* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem;
}

h1 {
  font-size: 3.0em;
  text-align: center;
}

p {
  font-size: 10.0em;
  color: green;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid ghostwhite;
}

strong {
  color: dodgerblue;
}

@media (max-width: 750px) {
  h1 {
    font-size: 2.0em;
  }
  
  p {
    font-size: 4.0em;
  }
  
}