.smartgov {
  font-size: 4.0em;
}

.smartgov span {
  text-transform: uppercase;
  font-weight: 900;
}

.section-title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
}

.section-title .divider {
  width: 30%;
  padding: 2px;
}

/* step */

.step {
  height: 800px;
  display: flex;
  flex-direction: column;
  width: 450px;
  max-width: 100%;
  align-items: center;
}

.step .circle-number {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -16px;
}

.step .step-top {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  width: 100%;
  height: 55%;
  max-height: 55%;
}

.step .step-bottom {
  width: 100%;
  height: 45%;
  max-height: 45%;
}