.text-p {
  font-size: 14px;
}

.text-p12 {
  font-size: 18px;
}

.text-p10 {
  font-size: 16px;
}

.text-h1 {
  font-weight: bold;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: blue;
}

.text-align-center {
  text-align: center;
}

.text-title {
  font-weight: bold;
  font-size: 2.0em;
}

.text-bold {
  font-weight: bold;
}

.text-subtitle {
  font-size: 1.5em;
}

.text-align-justify {
  text-align: justify;
}

.line-h12 {
  line-height: 1.2em;
}

.line-h15 {
  line-height: 1.5em;
}

.line-h2 {
  line-height: 2.0em;
}

.divider-primary  {
 border-top: 1px solid teal; 
}

.divider-secondary  {
  border-top: 1px solid #F2AF36; 
 }